@import "colorsDark.scss";

$dark: (
  none: none,
  surface: $color-dark-surface,
  card: $color-dark-card,
  pop-up: $color-dark-pop-up,
  highlight: $color-dark-highlight,
  highlight-dark: $color-dark-highlight-dark,
  tables-header: $color-dark-tables-header,
  tables-zebra-light: $color-dark-tables-zebra-light,
  tables-zebra-dark: $color-dark-tables-zebra-dark,
  tables-cues: $color-dark-tables-cues,
  background-text-default: $color-dark-background-text-default,
  background-text-secondary: $color-dark-background-text-secondary,
  background-text-primary: $color-dark-background-text-primary,
  background-text-disabled: $color-dark-background-text-disabled,
  text-default: $color-dark-text-default,
  text-secondary: $color-dark-text-secondary,
  text-primary: $color-dark-text-primary,
  text-disabled: $color-dark-text-disabled,
  alert-error: $color-dark-alert-error,
  alert-warning: $color-dark-alert-warning,
  warning-icon: $color-dark-warning-icon,
  green-icon: $color-dark-icon-green,
  alert-success: $color-dark-alert-success,
  success-text: $color-dark-green-text,
  purple-adv-mid: $color-dark-purple-adv-mid,
  purple-adv-dark: $color-dark-purple-adv-dark,
  orange-ftr-mid: $color-dark-orange-ftr-mid,
  orange-ftr-dark: $color-dark-orange-ftr-dark,
  orange-ftr-extreme-dark: $color-dark-orange-ftr-extreme-dark,
  mild-green-pol-mid: $color-dark-mild-green-pol-mid,
  mild-green-pol-dark: $color-dark-mild-green-pol-dark,
  mild-green-pol-extreme-dark: $color-dark-mild-green-pol-extreme-dark,
  green-shr-mid: $color-dark-green-shr-mid,
  green-shr-dark: $color-dark-green-shr-dark,
  green-shr-extreme-dark: $color-dark-green-shr-extreme-dark,
  blue-tlr-mid: $color-dark-blue-tlr-mid,
  blue-tlr-dark: $color-dark-blue-tlr-dark,
  blue-tlr-extreme-dark: $color-dark-blue-tlr-extreme-dark,
  pink-tsr-mid: $color-dark-pink-tsr-mid,
  pink-tsr-dark: $color-dark-pink-tsr-dark,
  pink-tsr-extreme-dark: $color-dark-pink-tsr-extreme-dark,
  separator: $color-dark-separator,
  button-secondary: $color-dark-button-secondary,
  button-secondary-hover: $color-dark-button-secondary-hover,
  button-primary: $color-dark-button-primary,
  button-primary-hover: $color-dark-button-primary-hover,
  menu-hover: $color-dark-menu-hover,
  filter-tag: $color-dark-filter-tag,
  filter-tag-close: $color-dark-filter-tag-close,
  filter-clear-all-bg: $color-dark-filter-clear-all-bg,
  filter-clear-all-text: $color-dark-filter-clear-all-text,
  alert: $color-dark-alert,
  delete: $color-dark-delete,
  warning: $color-dark-warning,
  success: $color-dark-success,
  divider: $color-dark-divider,
  resizer-drag-handle: $color-dark-resizer-drag-handle,
  split-bar-background: $color-dark-split-bar-background,
  skeleton-background: $color-dark-skeleton-background,
  execute_blue_button: $color-dark-button-blue,
  dnd_placeholder_border: $color-dark-placeholderBorder,
);
