@import "colorsLight.scss";

$light: (
  none: none,
  surface: $color-light-surface,
  card: $color-light-card,
  pop-up: $color-light-pop-up,
  highlight: $color-light-highlight,
  tables-header: $color-light-tables-header,
  tables-zebra-light: $color-light-tables-zebra-light,
  tables-zebra-dark: $color-light-tables-zebra-dark,
  tables-cues: $color-light-tables-cues,
  text-default: $color-light-text-default,
  text-secondary: $color-light-text-secondary,
  text-primary: $color-light-text-primary,
  text-disabled: $color-dark-text-disabled,
  alert-error: $color-light-alert-error,
  alert-warning: $color-light-alert-warning,
  success-text: $color-light-green-text,
  warning-icon: $color-light-warning-icon,
  alert-success: $color-light-alert-success,
  purple-adv-mid: $color-light-purple-adv-mid,
  purple-adv-dark: $color-light-purple-adv-mid,
  orange-ftr-mid: $color-light-orange-ftr-mid,
  orange-ftr-dark: $color-light-orange-ftr-pale,
  orange-ftr-extreme-dark: $color-light-orange-ftr-extreme-pale,
  mild-green-pol-mid: $color-light-mild-green-pol-mid,
  mild-green-pol-dark: $color-light-orange-ftr-pale,
  mild-green-pol-extreme-dark: $color-light-orange-ftr-extreme-pale,
  green-shr-mid: $color-light-green-shr-mid,
  green-shr-dark: $color-light-mild-green-pol-pale,
  green-shr-extreme-dark: $color-light-mild-green-pol-extreme-pale,
  blue-tlr-mid: $color-light-blue-tlr-mid,
  blue-tlr-dark: $color-light-blue-tlr-pale,
  blue-tlr-extreme-dark: $color-light-blue-tlr-extreme-pale,
  pink-tsr-mid: $color-light-pink-tsr-mid,
  pink-tsr-dark: $color-light-pink-tsr-pale,
  pink-tsr-extreme-dark: $color-light-pink-tsr-extreme-pale,
  button-secondary: $color-light-button-secondary,
  delete: $color-light-delete,
  button-secondary-hover: $color-light-button-secondary-hover,
  button-primary: $color-light-button-primary,
  button-primary-hover: $color-light-button-primary-hover,
  resizer-drag-handle: $color-light-resizer-drag-handle,
  split-bar-background: $color-light-split-bar-background,
  skeleton-background: $color-light-skeleton-background,
  execute_blue_button: $color-light-button-blue,
  dnd_placeholder_border: $color-light-placeholderBorder,
);
